html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, p, ul{
  margin: 0;
}

a {
  background-color: transparent;
  color: #3a62fb;
}

a:active,
a:hover {
  outline: 0;
  color: #0035ff;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

img {
  border: 0;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}


button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}


button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
}


fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}


legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}


.row {
  margin-left: -15px;
  margin-right: -15px;
  clear: both;
}

.row.spacing{
  clear: both;
  height: 10px;
}

.row:before, .row:after, form:before, form:after {
  content: " ";
  display: table;
  clear: both;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.width-full, .width-one-fourth, .width-two-fourth, .width-three-fourth{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 100%;
}


@media (max-width: 480px) {
  .container, .width-full, .width-one-fourth, .width-two-fourth, .width-three-fourth {
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .width-one-fourth{
    width: 50%;  
  }

  .width-two-fourth{
    width: 100%;  
  }

  .width-three-fourth{
    width: 100%;  
  }

  .width-md-two-half{
   width: 50%;   
  }

  .width-md-full{
   width: 100%;   
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .width-full{
    width: 100%;
  }

  .width-one-fourth{
    width: 25%;  
  }

  .width-two-fourth{
    width: 50%;  
  }

  .width-three-fourth{
    width: 75%;  
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}
